body{
    background-color: green;
}

h1, h2 {
    text-align: center;
}

p{
    color: brown;
    font-size: 43;
}
.flexMe {
    /*text-align: center;*/
    border: 3px solid;
    display: flex;
    justify-content: space-evenly;
}